html,body {
    height: 100%;
    min-height: 35arem;
}

body {
    background-color: rgb(217, 248, 249);
}

.wrapper {
    height: 100%;
    font-size: 1.4rem;
    position: relative;
}

.heading {
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
}

.content {
    padding: 1rem 0;
}

.menu-item {
    display: block;
    margin: 2.5rem 0;
    font-size: 3.5rem;
    font-weight: bold;
}

#js-header,
#js-aboutme,
#js-mywork,
#js-resume,
#js-game,
#js-contact {
    display: none;
    height: 100%;
    color: white;
    background-color: #57c2bf;
    padding: 4rem 0;
    position: absolute;
    padding-left: 6.5rem;
    padding-bottom: 3.5rem;
    box-shadow: 0 4px 8px 0 rgba(89, 144, 137, 0.4),0 3px 6px 0 rgba(33, 96, 98, 0.19);
    -webkit-animation-name: animateright;
    -webkit-animation-duration: 0.3s;
    animation-name: animateright;
    animation-duration: 0.3s;
	
}

/* Header (item1) */
#js-header {
    animation: none;
    z-index: 99;
    display: initial;
    color: teal;
    padding-left: 1.5rem;
    cursor: pointer;
    overflow: hidden;
    max-width: 6.5rem;
    user-select: none;
    white-space: nowrap;
    transition: all 0.3s ease;
    box-shadow: 1px 4px 8px 5px rgba(1, 50, 73, 0.2);
}
.bg-image {
    position: absolute;
    top: -2.5rem;
    left: 0;
    width: 25rem;
    height: 100%;
    background-image: url('../images/avt.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
}


.header__menu {
    transition: all 0.5 ease;
    position: absolute;
    top: 0;
    text-shadow: 0 0 1.5px #FFF, 0 0 1.5px #FFF, 0 0 1.5px #FFF;
}

#js-toggle-menu {
    transition: 0.25s;
    -webkit-transition: 0.25s;
    display: table;
}

#btn-menu:checked + #js-toggle-menu {
    transform: rotateZ(180deg);
    animation-name: animateBtnMenu;
    animation-duration: 0.25s;
/* safari */
    -webkit-transform: rotateZ(180deg);
    -webkit-animation-name: animateBtnMenu;
    -webkit-animation-duration: 0.25s;

    -ms-transform: rotateZ(180deg);
    -ms-animation-name: animateBtnMenu;
    -ms-animation-duration: 0.25s;

}

.menu-text {
    padding: 0 2rem;
    text-align: center;
    display: none;
}
.menu__foot {
    background-color: rgba(0,0,0, 0.7);
    width: 25rem;
    position: absolute;
    left: 0;
    bottom: 2.5rem;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    transition: all 0.5s;
    opacity: 0;
}
.menu-link {
    color: white;
    text-shadow: 0 0 5px #fff;
}
.menu-link:hover {
    color: teal;
    text-shadow: 0 0 3px #000;
}


#js-header i {
    font-size: 3.5rem;
}
#js-header .menu-item:hover {
    color: turquoise;
    transition: 0.3s;
}

/* End item 1 */

#js-mywork {
}

#js-aboutme {
    display: initial;
    /* background-color: #607d8b; */
}
.img-avt {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    margin-left: auto;
    margin-right: auto;
}

#js-resume {
    /* background-color: #3f51db; */
}

#js-game {
    /* background-color: #616161; */
}

#js-contact {
    /* background-color: #009688; */
}

.footer {
    background-color: white;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 2rem;
    position: fixed;
    bottom: 0;
    z-index: 99;
    width: 100%;
}

.footer__link {
    color: white;
}
.active {
    color: turquoise;
    text-shadow: 0 0 5px #333, 0 0 8px #333, 0 0 8px #333;
}

/* Chinh lai co chu nut close cho phu hop */
.icon-cross::before {
    font-size: 3rem;
    color: tomato;
}

/* Animate */
@keyframes animateright {
    from {right: -1500px; opacity: 0.2;}
    to {right: 0; opacity: 1;}
}

@-webkit-keyframes animateright {
    from {right: -1500px; opacity: 0.2;}
    to {right: 0; opacity: 1;}
}

@keyframes animateBtnMenu {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(180deg);
    }
}
@-webkit-keyframes animateBtnMenu {
    0% {
        -webkit-transform: rotateZ(0);
    }
    100% {
        -webkit-transform: rotateZ(180deg);
    }
}
